.conference-image {
    width: 100vw;
  }
  
  .conference-text-container {
    text-align: center;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    padding: 20px;
  }
  
  .conference-title {
    color: #183b56;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 32px;
  }
  
  /* .display-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  } */
  .conference-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
    padding: 10px;
  }
  
  .conference-details-title {
    color: #183b56;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
  }
  
  .conference-details-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  
  .conference-stats-container {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .conference-stats-count {
    color: #183b56;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
    
  }
  
  .conference-stats-label {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
    
  }
  
  
  